@import "../normalization.css";

/* html, body {
    overflow: hidden;
} */

.main-container {
  color: white;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  overflow: hidden;
}

.header {
  display: flex;
  width: 100%;
  padding: 2rem;
}

.content {
  z-index: 20;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

.welcome {
  position: relative;
  width: 80%;
  height: 80vh;
  /* background: #d5d4d49c; */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.login {
  padding-top: 15vh;
  width: 25%;
  height: 80vh;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-msg {
  font-size: xx-large;
  font-weight: bold;
  margin: 2rem;
}

.form-container {
  width: 100%;
}
#login-form,
#register-form {
  margin: 0rem 2rem 0rem 2rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  color: white;
  background-color: rgba(128, 128, 128, 0);
  width: 100%;
  padding: 12px 12px;
  margin: 1rem 0;
  display: inline-block;
  border-radius: 2rem;
  border: 2px solid #edbf1c;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px #ed8f1c solid;
}

.upload-label {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #edbf1c;
  color: white;
  padding: 14px 20px;
  margin: 1.5rem 0;
  border: none;
  border-radius: 2rem;
  border: 1px white solid;
  cursor: pointer;
  font-size: 1rem;
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#google-logo {
  width: 75px;
}

#switch-button {
  cursor: pointer;
}

.landingImg {
  width: 95%;
}

@media (min-width: 2500px) {
  .landingImg {
    width: 75%;
  }
}
