@import "../normalization.css";
body {
  color: white;
  height: 100vh;
  background-image: url("../img/background.png");
  background-color: #cccccc;
  background-repeat: repeat-y;
  background-size: cover;
}

main {
  display: flex;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
#imageContainer {
  border-radius: 4rem;
  background: #d5d4d49c;
  height: 60%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2%;
  position:relative;
}
#rules{
  position:absolute;
  top:35%;
  left:50%;
  transform:translate(-50%,-50%);
  background:rgba(0, 0, 0, 0.521);
  height:15%;
  width:30%;
  text-align: center;
  line-height: 3vh;
  padding-top: 6vh;
  border-radius: 2rem;
  z-index: 1;
}

#instructions{
  position:absolute;
  top:0%;
  left:50%;
  transform:translate(-50%,-0%);
  /* background:rgba(0, 0, 0, 0.521); */
  height:2rem;
  width:40%;
  justify-content: space-between;
  text-align: center;
  line-height: 2rem;
  /* padding-top: 6vh; */
  font-size: 5vh;
  border-radius: 2rem;
  text-align: center;
  font-size: 1rem;
}


#infoContainer {
  width: 30%;
  height: 80vh;

  margin-left: 3%;
  /* background: #d5d4d49c; */
}

#streamContainer {
  /* box-shadow: 0 0 1rem #000; */

  margin-top: 2rem;
  margin-left: 13%;
}

#playersContainer {
  background: #d5d4d49c;
  width: 30%;
  height: 88vh;
  /* background: #d5d4d471; */
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 3%;
}

#startDrawing {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  border-radius: 2rem;
  background: red;
  position: absolute;
  text-align: center;
  line-height: 2rem;
  bottom: 30%;
  transform: translate(-0%, -50%);
}

#waitingGame {
  width: 8rem;
  height: 2rem;
  border-radius: 2rem;
  background: green;
  position: absolute;
  text-align: center;
  line-height: 2rem;
  bottom: 30%;
  transform: translate(-0%, -50%);
}

#info {
  height: 46vh;
  background: #d5d4d49c;
  border-radius: 2rem 2rem 0 0;
}

#leaderBoard {
  display: flex;
  flex-direction: column;

  height: 40vh;
  background: #f5dc896a;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  justify-content: center;
  text-align: center;
  padding-top: 1vh;
}

#boardTitle {
  font-size: 3vh;
}

.rank {
  display: flex;
  font-size: smaller;
  border-radius: 2rem;
  text-align: center;
  width: 80%;
  margin: 1vh;
  margin-left: 2.5vh;

  line-height: 3vh;
  font-size: 2.5vh;
  border: white solid 0.1rem;
  justify-content: center;

  justify-content: space-between;
}
.rank div {
  font-size: small;
  margin-left: 1vh;
  margin-right: 1vh;
}

#ctrlBtn {
  width: 100%;
  height: 6vh;
  justify-content: space-between;
  text-align: center;
  display: flex;
}

#lobby {
  cursor: pointer;
  width: 34%;
  display: inline-block;
  line-height: 5vh;
  font-size: 2.5vh;
}

#board {
  display: inline-block;
  height: 5vh;
  width: 33%;
  background: #f5dc896a;
  border-bottom-left-radius: 2rem;
  line-height: 5vh;
}

#record {
  display: inline-block;
  height: 5vh;
  width: 33%;
  background: #898d6f9c;
  /* border-bottom-right-radius: 2rem; */
  line-height: 5vh;
}

#chat {
  height: 40vh;
  background: #d5d4d49c;
  border-radius: 0 0 2rem 2rem;
}

/* #imageContainer {
    background: #f5dc899c;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
} */

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d5d4d49c;
  width:100%
}

.smallStream {
  min-width: 20vh;
  width: 20vh;
  height: 20vh;
  background: black;
  margin: 2.5vh 0.5vh 2.5vh 2.5vh;
  transform: scaleX(-1);
}

.playerInfo {
  width: 20vw;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.playerInfo > img {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}

.playerName {
  margin-top: 1rem;
  font-size: larger;
  width: 16vh;
  text-align: center;
  align-items: center;
}

.playerScore {
  margin-top: 1vh;
  font-size: larger;
  width: 16vh;
  text-align: center;
  align-items: center;
}

.drawer {
  /* background: #f5dc899c !important; */
  background: #bdf5899c;
}
.disconnected {
  background: #695f3b9c;
}

#colorPanel {
  width: 80vh;
  height: 0;
  background: white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

#drawnImage {
  border-radius: 2rem;
  max-width: 100%;
  height: 70vh;
}

#canvasGaugan {
  width: 512px;
  height: 512px;
  background: #759edf;
}

#drawingInfo {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  border-bottom-left-radius: 2rem;
  text-align: center;
}

#guessContainer {
  position: relative;
  width: 50vh;
  height: 10vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  border-bottom-left-radius: 2rem;
  overflow-y: hidden;
  overflow-x: scroll;
}
#guess-form{
  display: flex;
  position: absolute;
  bottom:20%;
}
#round {
  /* background: black; */
  font-size: medium;
  height: 10vh;
  padding-top: 1.5vh;
  padding-left: 1rem;
  font-size: 3vh;
  line-height: 3.5vh;
  text-align: center;
}

#countDown {
  /* background: black; */
  font-size: medium;
  height: 10vh;
  padding-top: 1.5vh;
  padding-right: 1rem;
  font-size: 3vh;
  line-height: 3.5vh;
  text-align: center;
}

#guessItem {
  /* position: absolute; */
  /* bottom:50%; */
  display: inline-block;
  vertical-align: middle;
  line-height: 10vh;
  font-size: 4vh;
}

#score {
  height: 90vh;
  background: #d5d4d49c;
  border-radius: 2rem;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 40%;
  height: 80vh;
  background: #d5d4d49c;
  border-radius: 2rem;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.propic {
  margin-right: 0.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.message-space {
  max-height: 40vh;
  overflow-y: scroll;
}

.correct-guesser {
  max-width: 70%;
  background-image: linear-gradient(
    rgb(235, 169, 16),
    rgba(246, 211, 55, 0.689)
  );
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
}

.user-msg {
  min-height: 4vh;
  width: 100%;
  background-image: linear-gradient(
    rgb(235, 169, 16),
    rgba(246, 211, 55, 0.689)
  );
  font-size: medium;
  padding: 0.7rem 1.5rem;
  
  display: flex;
  align-items: center;
}

.counterpart-msg {
  min-height: 4vh;
  font-size: medium;
  width: 100%;
  background-image: linear-gradient(
    rgb(78, 90, 255),
    rgb(100, 133, 241)
  );
  background-color: rgb(100, 133, 241);
  padding: 0.7rem 1.5rem;
  
  display: flex;
  align-items: center;
}

video {
  display: none;
}
.user {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

input[type="text"] {
  font-size: larger;
  color: white;
  background-color: #edbf1c;
  width: 80%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 2rem;
  border: 2px solid #edbf1c;
  box-sizing: border-box;
}
input[type="submit"] {
  text-align: center;
  width: 30%;
  background-color: #edbf1c;
  color: white;
  
  margin: 10px 2px;
  border: none;
  border-radius: 2rem;
  border: 1px white solid;
  cursor: pointer;
}

input[type="text"]:focus {
  outline: none;
  border: 2px #ed8f1c solid;
}

.styleName {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1300px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #imageContainer {
    width: 100%;
    position: relative;
  }
  #infoContainer {
    margin-bottom: 10vh;
    margin-left: 0;
    height: 30vh;
    width: 100%;
  }
  #playersContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30vh;
    margin-top: 3vh;
    margin-right: 0;
  }
  #info {
    height: 18vh;
  }
  #leaderBoard {
    height: 16vh;
  }
  #chat {
    height: 20vh;
  }
}
