@import "../normalization.css";

/* html, body {
    overflow: hidden;
} */

.main-container {
    color: white;
    background-image:url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow:auto;
}

.header {
    display:flex;
    width:100%;
    padding:2rem;
}


.content {
    height: 80vh;
    background: #d5d4d49c;
    border-radius: 2rem;
    margin-left:2rem;
    margin-right:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.err-head {
    font-size: 5rem;

}

.err-content {
    font-size: 2rem;
}

.err-link{
    font-size: 1rem;
}