@import "../normalization.css";

body {
  color: white;
  height: 100vh;
  background-image: url("../img/background.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.user {
  display: flex;
  align-items: center;
}

.propic {
  padding-right: 0.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.roomProPic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
main {
  display: flex;
}

.left {
  width: 40%;
  height: 80vh;
  background: #d5d4d49c;
  border-radius: 2rem;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.heading {
  font-size: xx-large;
  font-weight: bold;
  padding: 0.5rem 0;
}
.roomContainer {
  width: 88%;
}
.room {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  border: white solid 1px;
  background-color: #3fc5ff3d;
  padding: 1rem;

  position: relative;
}
.room:hover {
  background-color: #3fc5ff7c;
  cursor: pointer;
}

.roomAndHost {
  position: absolute;
  left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.roomName {
  padding-bottom: 1.3rem;
  font-size: larger;
}
.hostName {
  font-size: small;
}

.privateInicator {
  font-size: small;
  background-color: #edbf1c;
  padding: 0.1rem 0.5rem;
  border-radius: 2rem;
  border: white solid 1px;
  position: absolute;
  bottom: 5%;
  left: 43%;
}

.aiOrNot {
  font-size: small;
  background-color: #38ce35;
  padding: 0.1rem 0.5rem;
  border-radius: 2rem;
  border: white solid 1px;
  position: absolute;
  bottom: 5%;
  left: 58%;
}

.numberOfPeople {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.peopleInRoom {
  padding-bottom: 1rem;
  font-size: smaller;
}
.number {
  font-size: x-large;
  display: flex;
}
span {
  font-size: small;
}
.right {
  width: 40%;
  height: 80vh;
  border-radius: 2rem;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.createRoom {
  width: 100%;

  background: #d5d4d49c;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting {
  width: 100%;
  height: 40%;
  background: #d5d4d49c;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.createRoomForm {
  width: 50%;
}

input[type="text"],
input[type="password"],
select {
  color: white;
  background-color: rgba(128, 128, 128, 0);
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 2rem;
  border: 2px solid #edbf1c;
  box-sizing: border-box;
}

input[type="submit"],
.close {
  width: 100%;
  background-color: #edbf1c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 2rem;
  border: 1px white solid;
  cursor: pointer;
}

input[type="text"]:focus {
  outline: none;
  border: 2px #ed8f1c solid;
}
input[type="password"]:focus {
  outline: none;
  border: 2px #ed8f1c solid;
}
select:focus {
  outline: none;
  border: 2px #ed8f1c solid;
}
input[type="submit"]:hover {
  background-color: #ed8f1c;
}
.close:hover {
  background-color: #ed8f1c;
}
.test {
  text-align: center;
  width: 44%;
  margin: 1rem 0;
  background-color: #b46bfd;
  padding: 1rem;
  border-radius: 2rem;
  border: white 1px solid;
}
.test:hover {
  background-color: #c796f8;
}
.friends {
  text-align: center;
  width: 44%;
  background-color: #6cc4ff;
  padding: 1rem;
  border-radius: 2rem;
  border: white 1px solid;
}

.logout {
  text-align: center;
  width: 44%;
  margin: 1rem 0;
  background-color: #d81d1d;
  padding: 1rem;
  border-radius: 2rem;
  border: white 1px solid;
}
.logout:hover {
  background-color: #eb8b1d;
}

@media only screen and (max-width: 1000px) {
  body {
    background-repeat: repeat-y;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 80%;
    height: 40%;
    margin-bottom: 2rem;
  }
  .right {
    width: 80%;
  }
}

.passwordLogin {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.514);

  justify-content: center;
  align-items: center;
  display: none;
}
.pwStyled {
  background-color: #edc01cc9;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 2rem;
  border: solid 1px #ed8f1c;
}

#roomLoginPw {
  background-color: #04eeffb7;
  border: solid 2px #ed8f1c;
}
.formStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close {
  font-size: small;
  text-align: center;
  background-color: #e64540;
  margin-right: 1rem;
}

#joinGame {
  font-size: small;
}

@media only screen and (max-height: 695px) {
  .createRoom {
    border-radius: 2rem 2rem 0 0;
  }
  .setting {
    border-radius: 0 0 2rem 2rem;
    overflow-y: scroll;
  }
  .test {
    width: 44%;
  }
  .friends {
    width: 44%;
  }
  .logout {
    width: 44%;
  }
}
